node_modules/
*.log

out/
dist/
release/
electron/

build/
!.gitkeep

.vscode/settings.json
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

pids
*.pid
*.pid.lock

electron-builder-cache/

.nyc_output
coverage/
*.tsbuildinfo
test-results/
playwright-report/
blob-report/
playwright/.cache/
.env
.env.*

# Project structure docs
project structure.txt
project-structure.txt
